# Secrets
.env
.env.*
!.env.example

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*tempCodeRunnerFile*
otp-backend/uploads/

# Java / Maven
target/
*.class
*.jar
*.war
*.ear
!.mvn/wrapper/maven-wrapper.jar

# IDE / Editor
.idea/
.vscode/
*.iml
.project
.classpath
.settings/
.factorypath

# OS files
Thumbs.db
.DS_Store
